{% extends 'base.html' %}
{% block content%}
<form class="my-4 col-4" method="POST">
  <input class="form-control mr-sm-2" type="text" name="search" placeholder="Pretraga" aria-label="Search"><br>
  <button class="btn btn-outline-secondary" type="submit">Nađite</button>
</form>
<div class="row">
  <table class="table col-3 mx-auto">
    <caption>Korisnik</caption>
    <thead>
      <tr>
        <th scope="col">Ime</th>
        <th scope="col">E-mail</th>
      </tr>
    </thead>
    <tbody>
      {% for korisnik in izdavanja %}
      <tr>
        <td>{{ korisnik.ime }}</td>
        <td>{{ korisnik.email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <table class="table col-8 mx-auto">
    <caption>Knjiga</caption>
    <thead>
      <tr>
        <th scope="col">Autor</th>
        <th scope="col">Naslov</th>
        <th scope="col">Uzeta</th>
        <th scope="col">Rok za vraćanje</th>
        <th scope="col">Kasni</th>
        <th scope="col">Vrati</th>
      </tr>
    </thead>
    <tbody>
    {% for izdata in izdavanja %}
      <form method="POST">
        <tr>
          <td>{{ izdata.autor }}</td>
          <td>
            <a href="{{ url_for('jedna_knjiga', id = izdata.id) }}">{{ izdata.naslov }}</a>
          </td>
          <td>{{ izdata.rezerv_rok }}</td>
          <td>{{ izdata.vracanje_rok }}</td>
          <td>{{ izdata.kasni }}</td>
          <td>
            <a href="{{ url_for('admin_vrati_knjigu', id=izdata.id, korisnik=0) }}" class="icon-btn orange text-decoration-none" role="button">
              <i class="fas fa-edit"></i>
            </a>
          </td>
        </tr>
      </form>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}