{% extends 'base.html' %}
{% block content%}
<div class="row">
    <table class="table col-4 mx-auto">
        <caption><b>Podaci korisnika</b></caption>
        <thead>
            <tr>
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                <th scope="col">Kontakt</th>
                <th scope="col">Email</th>
                <th scope="col">Aktivan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>{{ korisnik.ime }}</td>
              <td>{{ korisnik.prezime }}</td>
              <td>{{ korisnik.kontakt }}</td>
              <td>{{ korisnik.email}}</td>
              <td>{{ korisnik.aktivan}}</td>
            </tr>
          </tbody>
    </table>
    <table class="table col-6 mx-auto">
        <caption><b>Uplate</b></caption>
        <thead>
            <tr>
                <th scope="col">Naziv fajla</th>
                <th scope="col">Datum</th>
                <th scope="col">Kolicina</th>
            </tr>
        </thead>
        <tbody>
            {% for uplata in uplate%}
            <tr>
              <td>{{ uplata.naziv_fajla }}</td>
              <td>{{ uplata.datum }}</td>
              <td>{{ uplata.kolicina }}</td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
  </div>
<div class="row">
    <table class="table col-10 mx-auto">
        <caption><b>Izdate knjige</b></caption>
      <thead>
        <tr>
          <th scope="col">Autor</th>
          <th scope="col">Naziv</th>
          <th scope="col">ISBN</th>
          <th scope="col">Rok za vracanje</th>
          <th scope="col">Vracena</th>
          <th scope="col">Vrati</th>
        </tr>
      </thead>
      <tbody>
        {% for knjiga in knjige %}
        <tr>
          <td>{{ knjiga.autor }}</td>
          <td>{{ knjiga.naslov }}</td>
          <td>{{ knjiga.isbn }}</td>
          <td>{{ knjiga.vracanje_rok}}</td>
          <td>{{ knjiga.vracena}}</td>
          <td>
            <a href="{{ url_for('vrati_knjigu', id=knjiga.id) }}" class="icon-btn orange text-decoration-none" role="button">
              <i class="fas fa-edit"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}