{% extends 'base.html' %}
{% block content%}
<a href={{ url_for('admin_nova_vest') }} class="btn btn-secondary btn-lg my-3 mx-auto">Nova vest</a>
<div class="card-group">
	{% for vest in vesti %}
    <div class="card">
		<!-- ubaciti sliku -->
      <img src="..." class="card-img-top" alt="..."> 
      <div class="card-body">
        <h5 class="card-title">{{vest.naslov}}</h5>
		<p class="card-text">{{vest.tekst}}</p>
		<p class="card-text"><small class="text-muted">Autor: {{vest.ime}} {{vest.prezime}}</small></p>
		<p class="card-text"><small class="text-muted">{{vest.datum}}</small></p>
		<a href={{ url_for('admin_vest_izmena', id=vest.id) }}  class="btn btn-secondary">Izmeni vest</a>
		<a href={{ url_for('admin_vest_brisanje', id=vest.id) }} class="btn btn-secondary">Obrisi vest</a>
      </div>
	</div>
	
	{% endfor %}
</div>
{% endblock %}