{% extends 'base.html' %}
{% block content%}
<form class="my-4 col-4" action="{{ url_for('admin_korisnici', mode=0) }}" method="POST">
	<input class="form-control mr-sm-2" type="text" id="search" name="search" placeholder="Pretraga" aria-label="Search"><br>
	<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Nadjite korisnika</button>
	<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" formaction="{{ url_for('admin_korisnici', mode=1) }}">Nadjite neaktivnog korisnika</button>
	<a href="{{ url_for('admin_uplata') }}" class="btn btn-secondary btn-lg my-2">Vidi nove uplate</a>
</form>
<div class="row">
	<table class="table col-12">
	  <thead>
		<tr>
			<th scope="col">Ime</th>
			<th scope="col">Prezime</th>
			<th scope="col">E-mail</th>
			<th scope="col">Kontakt</th>
			<th scope="col">Aktivan</th>
			<th scope="col">Član od</th>
			<th scope="col">Vidi korisnika</th>
			<th scope="col">Obriši korisnika</th>
		</tr>
	  </thead>
	  <tbody>
		{% for korisnik in korisnici %}
		<tr>
			<td>{{ korisnik.ime}}</td>
			<td>{{ korisnik.prezime }}</td>
			<td>{{ korisnik.email }}</td>
			<td>{{ korisnik.kontakt}}</td>
			<td>{{ korisnik.aktivan }}</td>
			<td>{{ korisnik.clan_od }}</td>
			<td>
				<a class="icon-btn text-decoration-none" href="{{ url_for('jedan_korisnik', id=korisnik.id) }}" role="button">
					<i class="fas fa-eye"></i>
				</a>
			</td>
			<td>
				<a class="icon-btn orange text-decoration-none" href="{{ url_for('obrisi_korisnika', id=korisnik.id) }}" role="button">
					<i class="fas fa-edit"></i>
				</a>
			</td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
</div>
{% endblock %}