{% extends 'base.html' %}
{% block content%}
<a href={{ url_for('uplata') }} class="btn btn-secondary btn-lg my-3 mx-auto">Uplata</a>
<div class="row">
  <table class="table col-12">
	<caption><b>Rezervisane knjige</b></caption>
	<thead>
	  <tr>
		<th scope="col">Autor</th>
		<th scope="col">Naziv</th>
		<th scope="col">ISBN</th>
		<th scope="col">Rok za vracanje</th>
	  </tr>
	</thead>
	<tbody>
	  {% for knjiga in knjige %}
	  <tr>
		<th scope="col">{{knjiga.autor}}</th>
		<th scope="col">{{knjiga.naziv}}</th> 
		<th scope="col">{{knjiga.isbn}}</th> 
		<th scope="col">{{knjiga.vracanje_rok}}</th>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
</div>
{% endblock %}