{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center my-5">
	<div class="col-10 col-lg-6">
		<form action= {{ url_for('nova_knjiga') }} method="POST" enctype="multipart/form-data">
			<!-- autor -->
		  <div class="form-group">
			<label for="autor">Autor</label>
			<input type="text" class="form-control" id="autor" name="autor" aria-describedby="autorHelp" required>
		  </div>
		  <form action="#" method="POST">
			<!-- naziv -->
		  <div class="form-group">
			<label for="naziv">Naziv</label>
			<input type="text" class="form-control" id="naziv" name="naziv" required>
		  </div>
		  <!-- isbn -->
		  <div class="form-group">
			<label for="isbn">ISBN</label>
			<input type="text" class="form-control" id="isbn" name="isbn"required>
		  </div>

		  <!-- br_dostupnih -->
		  <div class="form-group">
			<label for="br_dostupnih">Broj dostupnih</label>
			<input type="text" class="form-control" id="br_dostupnih" name="br_dostupnih"required>
		  </div>
		  <input type="submit" class="btn btn-secondary" value="Unesi">
		</form>
	</div>
</div>
{% endblock %}