{% extends 'base.html' %}
{% block content%}
<div class="card-group">
	{% for vest in vesti %}
    <div class="card">
		<!-- ubaciti sliku -->
      <img src="..." class="card-img-top" alt="..."> 
      <div class="card-body">
        <h5 class="card-title">{{vest.naslov}}</h5>
		<p class="card-text">{{vest.tekst}}</p>
		<p class="card-text"><small class="text-muted">Autor: {{vest.ime}} {{vest.prezime}}</small></p>
		<p class="card-text"><small class="text-muted">{{vest.datum}}</small></p>
      </div>
	</div>
	{% endfor %}
</div>

{% endblock %}